.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.clearfloat {
    zoom: 1;
}

body {
    background: white;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#box {
    width: 100%;
    margin: 0 auto;
}

#box1 {
    height: 58px;
    width: 100%;
    transition: 0.35s;
    position: fixed;
    top: 0;
    z-index: 10;
}

#box2 {
    /* height: 800px; */
    background: white;
}

#box3 {
    height: 380px;
    padding-top: 150px;
    background: rgb(19, 48, 74);
}

.banner {
    width: 1200px;
    height: 50px;
    padding: 4px;
    margin: 0 auto;
}

.banner .head {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}

.banner .head .logo {
    float: left;
    height: 50px;
}

.banner .head .logo img {
    width: auto;
    height: 50px;
}

.banner .head .nav {
    float: right;
    line-height: 50px;
    height: 50px;
}

.banner .head .nav ul li {
    float: left;
    margin: 0 30px;
}

.banner .head .nav ul li a {
    font-weight: bold;
    color: white;
}

.ban {
    width: 100%;
    height: 750px;
    background-image: url(img/1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ban .item {
    width: 1200px;
    height: 750px;
    padding-top: 150px;
    /* background: red; */
    margin: 0 auto;
}

.ban .item .le {
    float: left;
    width: 50%;
    height: 600px;
    z-index: 1;
    position: relative;
}

.ban .item .le .title {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    color: white;
}

.ban .item .le .s-title {
    margin-top: 150px;
    color: white;
    font-size: 14px;
    line-height: 36px;
}

.ban .item .le .tz {
    position: absolute;
    bottom: 5px;
    width: 150px;
    height: 20px;
    line-height: 20px;
}

.ban .item .le .tz a {
    color: white;
    font-size: 18px;
    float: left;
    margin-right: 20px;
}

.ban .item .le .tz i {
    float: left;
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    background: turquoise;
}

.ban .item .ri {
    float: left;
    width: 50%;
    height: 600px;
}

.ban .item .ri .to ul li {
    height: 50px;
    color: white;
    margin-bottom: 40px;
    padding: 5px;
}

.ban .item .ri .to ul li span {
    font-size: 16px;
    margin: 2px 0;
}

.ban .item .ri .to ul li p {
    font-size: 24px;
    font-weight: bold;
}

.ban .item .ri .lb {
    width: 600px;
    height: 200px;
    margin: 70px 0;
}

.swiper-container {
    width: 600px;
    height: 200px;
}

.swiper-container .swiper-slide img {
    width: 300px;
    height: 200px;
}

#box3 .footer .top {
    height: 320px;
    width: 1200px;
    margin: 0 auto;
}

#box3 .footer .top div {
    width: 33%;
    height: 320px;
    float: left;
}

#box3 .footer .top .f_l span {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#box3 .footer .top .f_l p {
    font-size: 12px;
    margin-top: 80px;
    line-height: 24px;
    color: white;
}

#box3 .footer .top .f_c span {
    display: block;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: left;
}

#box3 .footer .top .f_c p {
    width: 100%;
    font-size: 12px;
    line-height: 24px;
    color: white;
}

#box3 .footer .top .f_c p i {
    color: turquoise;
    float: left;
    margin-right: 20px;
}

#box3 .footer .bot div {
    height: 60px;
    width: 1200px;
    line-height: 60px;
    margin: 0 auto;
    font-size: 14px;
    color: white;
}

.item2 {
    height: 330px;
    width: 100%;
    background-repeat: no-repeat;
    padding-top: 150px;
    background-size: 100% 100%;
    background-image: url(img/2.jpg);
}

.item2 .cont2 {
    width: 1200px;
    margin: 0 auto;
    height: 330px;
    text-align: center;
}

.item2 .cont2 .title2 {
    font-size: 44px;
    color: white;
    font-weight: bold;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.item2 .cont2 .s-t {
    margin-top: 50px;
    font-size: 16;
    color: white;
    text-align: center;
}

.item2 .cont2 .s-t span {
    display: block;
    width: 270px;
    height: 3px;
    background: cornflowerblue;
}

.item2 .cont2 .s-t .lle {
    float: left;
}

.item2 .cont2 .s-t .rri {
    float: right;
}

.item2 .cont2 .s-t i {
    text-align: center;
    float: left;
    display: block;
    margin: 0 78px;
    font-style: normal;
}

.qfy {
    width: 1200px;
    height: 330px;
    margin: 0 auto;
    background: white;
    padding-top: 150px;
}

.qfy .le_it {
    float: left;
    width: 33%;
}

.qfy .le_it span {
    font-size: 10px;
    line-height: 28px;
    font-family: 微软雅黑;
}

.qfy .ce_it {
    float: left;
    width: 33%;
}

.qfy .ce_it span {
    font-size: 10px;
    line-height: 28px;
    font-family: 微软雅黑;
}

.qfy .ri_lb {
    float: right;
    width: 33%;
    height: 180px;
    background: red;
}

.xl {
    width: 1200px;
    height: 1000px;
    padding-top: 80px;
    margin: 0 auto;
}

.xl ul li {
    width: 26%;
    height: auto;
    background: white;
    float: left;
    padding: 20px;
    margin: 2%;
    box-shadow: 0 0 30px 0.5px #ccc;
}

.xl ul li .hd-img {
    margin-bottom: 15px;
}

.xl ul li .hd-img img {
    width: 100%;
    height: 100%;
}

.xl ul li .sp {
    padding: 25px 20px 0 20px;
    margin-bottom: 10px;
}

.xl ul li .sp p {
    font-size: 16px;
    color: #13304a;
    font-weight: bold;
}

.xl ul li .jl {
    padding: 6px 20px 5px 20px;
}

.xl ul li .jl span {
    font-size: 14px;
    color: #379cf4;
}

.xl ul li .foot-it {
    padding: 20px;
}

.xl ul li .foot-it p {
    font-size: 16px;
    line-height: 20px;
}

.gl {
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
}

.gl .gl-le {
    width: 60%;
    height: 1000px;
    background: rosybrown;
    float: left;
}

.gl .gl-ri {
    width: 35%;
    height: 500px;
    background: pink;
    float: right;
}

.gl .gl-le .side {
    width: 100%;
    height: 265px;
    background: pink;
}

.map {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
}